.wrapper {
  padding-top: 50px;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  text-align: center;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  background: url("https://i.redd.it/xup13rc2i9az.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  }
